# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env
*.env

# OS-specific
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Data files
*.csv
*.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg files
*.egg
*.egg-info/
dist/
build/
.eggs/

# VS Code / IDE settings
.vscode/
.idea/

# Compiled Python
*.pyc

